<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@using Resources

@{
  ViewBag.Title = Resource.App_Name;
}

<h1>@ViewBag.Title</h1>


<h2>@Resource.Graph_GetTasks_Heading</h2>
<p>@Html.Raw(Resource.Graph_GetTasks_Instruction)</p>
@using (Html.BeginForm("GetMyTasks", "Home"))
{
    <div class="col-sm-12">
        <div class="form-group">
            <button class="btn btn-default" id="get-my-email-address">@Resource.Graph_GetTasks_Button</button>
        </div>
    </div>
}

<div class="col-sm-12">
    <p class="@(ViewBag.Message == null ? "hidden" : null)">@Html.Raw(ViewBag.Message)</p>
</div>
